.box{
    display: flex;
    justify-content: space-between;
    width: 600px;
    height: 400px;
    border: 2px solid rgb(21, 179, 252);
    margin: auto;
}

.ball1{
    /* display: none; */
    color: white;
    width:60px;
    height: 60px;
    background-color:rgb(21, 179, 252);
    border-radius: 30px;
    position: relative;
}

.ball2{
    /* display: none; */
    color: white;
    width: 60px;
    height: 60px;
    background-color:rgb(252, 113, 21);
    border-radius: 30px;
    position: relative;
}

body{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(21, 179, 252);
    font-size: 25px;
    margin: 0;
    padding:0;
}